<div class="container">

  <h1>WELCOME TO SPARK</h1>

  <p>Reach new limits in the spark cloud.<br><br><br><br>
  See who has the edge in the igniter.<br><br><br><br>
  See your sparks reach a new audience.</p>
</div>

    <%= render 'partials/signup' %>
