<div class="container">

  <h1>WELCOME TO FLIGHT</h1>

  <p>See photos and updates from friends in News Feed.<br><br><br><br>
  Share what's new in your life on your Timeline.<br><br><br><br>
  Upload photos to your stream</p>
</div>

  <div class="new_user">
    <%= render 'partials/signup' %>
  </div>
