#main {
	margin-top: 47px;
}
/*nav {
	background-color: yellow;
	width: 100%;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
}

nav ul {
	border: groove;
}

nav li {
	display: inline;
}

nav li a {
	text-decoration: none;
}*/

