.time-post {
	font-size: 12px;
}

.time-span {
	margin-right: 10px;
	font-size: 10px;
}

.time-span a {
	color: blue;
	text-decoration: none;
}

.page-new-post {
	position: relative;
	top: 100px;
	left: 400px;
}
