.time-post {
	font-size: 12px;
}

.time-span {
	margin-right: 10px;
	font-size: 11px;
}

.time-span a {
	color: blue;
	text-decoration: none;
}

.page-new-post {
	position: relative;
	top: 100px;
	left: 400px;
}

.comments {
	margin-left: 5%;
}

.comment-span {
	margin-left: 18px;
	font-size: 11.5px;
}

.comments li {
	list-style: none;
	margin-bottom: 6px;
}

/*
	Feed 
*/

.feed-post {
	margin-left: 20%;
	margin-right: 20%;
}


