.signup {
  position: absolute;
  left: 800px;
  top: 400px;
  color: #d05e27;
}

body {
  background-color: #d3d3d3;
}

.container h1 {
  position: absolute;
  left: 300px;
  top: 170px;
  color: #000070;
}

.container p {
  position: fixed;
  color: #d05e27;
  font-size: 18px;
  left: 300px;
  top: 275px;
}

.new_user {
  position: absolute;
  left: 810px;
  top: 205px;
}

.new_user p {
color: #000070;
}
