.user-profile-page {
	margin-top: 10%;
}

.user-profile {
	margin-left: 30%;
	margin-right: 30%;
}

#all-users {
	position: fixed;
	border: groove;
	width: 25%;
	opacity: 0;
	visibility: hidden;
}

#all-users ul {
	list-style: none;
}

#all-requests {
	position: fixed;
	border: groove;
	width: 25%;
	margin-left: 75%;
	opacity: 0;
	visibility: hidden;
}

#all-requests ul {
	list-style: none;
}

#all-users li {

}

#send-request {
	float: right;
	margin-right: 6px;
}

#loading {
	position: fixed;
	height: 13px;
	width: 212px;
	margin-left: 10%;
	margin-top: 10%;
	background-image: url('http://s27.postimg.org/64srd7bvn/loading.gif');
	visibility: hidden;
}

.user-timeline {
	margin-left: 5%;
}
